# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# python
frontend/venv/
frontend/.env
frontend/__pycache__

# backend python
backend/venv/
backend/.env
backend/__pycache__/
backend/*.pyc
backend/uploads/
backend/outputs/
backend/models/
backend/*.pt
backend/*.pth
backend/first_frame.jpg
backend/frame_overlay.jpg
backend/segmented_video.mp4

# production
frontend/build

# misc
.DS_Store
*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# local env files
frontend/.env*.local

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# manual
.venv
backend/awsFunctions/__pycache__
backend/awsFunctions/filter*
backend/awsFunctions/sparse
backend/awsFunctions/co*
backend/awsFunctions/points*
backend/awsFunctions/run_sam22*
backend/awsFunctions/sam2_m*
backend/run_sam2.py
backend/sam2_manager*
backend/test_workflow.py
backend/awsFunctions/file_structure*
backend/sqs*
backend/SQS*
backend/supabase*

sqs_queue
SQS_SETUP
supabase
rename_images.py

images
images_new
masked_output
masksfinal
converted_images*
images.bin*
CLAUDE.md
# backend/awsFunctions/